@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-camera:before {
  content: "\e000";
}
.icon-github:before {
  content: "\e003";
}
.icon-github-2:before {
  content: "\e004";
}
.icon-github-3:before {
  content: "\e005";
}
.icon-heart:before {
  content: "\e001";
}
.icon-gift:before {
  content: "\e002";
}
.icon-vimeo:before {
  content: "\e006";
}
.icon-plus:before {
  content: "\e007";
}
.icon-minus:before {
  content: "\e008";
}