/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-camera:before {
  content: "\e000"; }

.icon-github:before {
  content: "\e003"; }

.icon-github-2:before {
  content: "\e004"; }

.icon-github-3:before {
  content: "\e005"; }

.icon-heart:before {
  content: "\e001"; }

.icon-gift:before {
  content: "\e002"; }

.icon-vimeo:before {
  content: "\e006"; }

.icon-plus:before {
  content: "\e007"; }

.icon-minus:before {
  content: "\e008"; }

body {
  font-size: 1em;
  line-height: 1.5;
  background: whiteSmoke;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: #6d6d6d; }

a {
  color: #00ac6b; }

a:hover {
  color: #c5000c; }

hr,
.hr {
  border: none;
  background: url(../img/candy-cane.png) 100% 0 repeat-x;
  height: 1px;
  line-height: 1px;
  padding-bottom: 1.4em;
  position: relative; }

hr:after,
.hr:after {
  content: url(../img/candy-cane-top.png) no-repeat;
  position: absolute;
  top: 0;
  right: -13px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

table {
  width: 100%;
  border: 1px solid #ebebeb; }

th {
  font-weight: 500; }

td {
  border: 1px solid #ebebeb;
  text-align: center;
  font-weight: 300; }

form {
  background: #f2f2f2;
  padding: 20px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px; }

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px; }

h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold; }

h5 {
  font-size: 1em;
  color: #303030; }

h6 {
  font-size: .8em;
  color: #303030; }

p {
  font-weight: 300;
  margin-bottom: 20px; }

a {
  text-decoration: none; }

p a {
  font-weight: 400; }

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px; }

ul, ol, dl {
  margin-bottom: 20px; }

ul li {
  list-style: disc inside;
  padding-left: 20px; }

ol li {
  list-style: decimal inside;
  padding-left: 3px; }

dl dt {
  color: #303030; }

/* LAYOUT STYLES */
header {
  padding-top: 35px;
  padding-bottom: 25px;
  text-align: center; }

header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 51px;
  color: #303030;
  line-height: 1.2;
  margin-right: 10px; }

header h1 span {
  color: #d5000d;
  position: relative;
  top: -6px; }

header h2 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #aaa;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 0 white; }

#container {
  min-height: 595px; }

.inner {
  width: 620px;
  margin: 0 auto; }

#container .inner img {
  max-width: 100%; }

footer {
  margin: 40px 0;
  padding-top: 20px;
  font-size: 11px;
  color: #aaa;
  text-shadow: 0 1px 0 white; }

footer span {
  color: #d5000d; }

footer a {
  color: #666; }

footer a:hover {
  color: #444; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px; }

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px; }

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto; }

pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px; }

  .inner {
    width: 94%;
    margin: 0 auto; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
